# **Homework**: Data talks club data engineering zoomcamp Data loading workshop

Hello folks, let's practice what we learned - Loading data with the best practices of data engineering.

Here are the exercises we will do

# 1. Use a generator

Remember the concept of generator? Let's practice using them to futher our understanding of how they work.

Let's define a generator and then run it as practice.

**Answer the following questions:**

- **Question 1: What is the sum of the outputs of the generator for limit = 5?**
- **Question 2: What is the 13th number yielded**

I suggest practicing these questions without GPT as the purpose is to further your learning.

In [5]:
def square_root_generator(limit):
    n = 1
    while n <= limit:
        yield n ** 0.5
        n += 1

# Example usage:
limit = 13
generator = square_root_generator(limit)

s = 0
for sqrt_value in generator:
    s += sqrt_value
    print(sqrt_value)

print("summ", s)

1.0
1.4142135623730951
1.7320508075688772
2.0
2.23606797749979
2.449489742783178
2.6457513110645907
2.8284271247461903
3.0
3.1622776601683795
3.3166247903554
3.4641016151377544
3.605551275463989
summ 32.854555867161245

# 2. Append a generator to a table with existing data


Below you have 2 generators. You will be tasked to load them to duckdb and answer some questions from the data

1. Load the first generator and calculate the sum of ages of all people. Make sure to only load it once.
2. Append the second generator to the same table as the first.
3. **After correctly appending the data, calculate the sum of all ages of people.**

In [4]:
#Install the dependencies
#pip install dlt[duckdb]

Collecting dlt[duckdb]
  Downloading dlt-0.4.2-py3-none-any.whl.metadata (9.5 kB)
Collecting PyYAML>=5.4.1 (from dlt[duckdb])
  Downloading PyYAML-6.0.1-cp311-cp311-win_amd64.whl.metadata (2.1 kB)
Requirement already satisfied: SQLAlchemy>=1.4.0 in c:\users\mbary\appdata\local\programs\python\python311\lib\site-packages (from dlt[duckdb]) (2.0.25)
Requirement already satisfied: astunparse>=1.6.3 in c:\users\mbary\appdata\local\programs\python\python311\lib\site-packages (from dlt[duckdb]) (1.6.3)
Requirement already satisfied: click>=7.1 in c:\users\mbary\appdata\local\programs\python\python311\lib\site-packages (from dlt[duckdb]) (8.1.7)
Collecting duckdb<0.10.0,>=0.6.1 (from dlt[duckdb])
  Downloading duckdb-0.9.2-cp311-cp311-win_amd64.whl.metadata (798 bytes)
Collecting fsspec>=2022.4.0 (from dlt[duckdb])
  Downloading fsspec-2024.2.0-py3-none-any.whl.metadata (6.8 kB)
Collecting gitpython>=3.1.29 (from dlt[duckdb])
  Downloading GitPython-3.1.41-py3-none-any.whl.metadata (14 kB)
Collecting giturlparse>=0.10.0 (from dlt[duckdb])
  Downloading giturlparse-0.12.0-py2.py3-none-any.whl.metadata (4.5 kB)
Collecting hexbytes>=0.2.2 (from dlt[duckdb])
  Downloading hexbytes-1.0.0-py3-none-any.whl.metadata (5.3 kB)
Collecting humanize>=4.4.0 (from dlt[duckdb])
  Downloading humanize-4.9.0-py3-none-any.whl.metadata (7.9 kB)
Collecting jsonpath-ng>=1.5.3 (from dlt[duckdb])
  Downloading jsonpath_ng-1.6.1-py3-none-any.whl.metadata (18 kB)
Collecting makefun>=1.15.0 (from dlt[duckdb])
  Downloading makefun-1.15.2-py2.py3-none-any.whl.metadata (3.0 kB)
Collecting orjson>=3.6.7 (from dlt[duckdb])
  Downloading orjson-3.9.13-cp311-none-win_amd64.whl.metadata (50 kB)
     ---------------------------------------- 0.0/50.6 kB ? eta -:--:--
     -------------------------------- ------- 41.0/50.6 kB 1.9 MB/s eta 0:00:01
     -------------------------------------- 50.6/50.6 kB 858.7 kB/s eta 0:00:00
Requirement already satisfied: packaging>=21.1 in c:\users\mbary\appdata\local\programs\python\python311\lib\site-packages (from dlt[duckdb]) (23.2)
Collecting pathvalidate>=2.5.2 (from dlt[duckdb])
  Downloading pathvalidate-3.2.0-py3-none-any.whl.metadata (11 kB)
Requirement already satisfied: pendulum>=2.1.2 in c:\users\mbary\appdata\local\programs\python\python311\lib\site-packages (from dlt[duckdb]) (3.0.0)
Requirement already satisfied: pytz>=2022.6 in c:\users\mbary\appdata\local\programs\python\python311\lib\site-packages (from dlt[duckdb]) (2023.3.post1)
Requirement already satisfied: requests>=2.26.0 in c:\users\mbary\appdata\local\programs\python\python311\lib\site-packages (from dlt[duckdb]) (2.31.0)
Collecting requirements-parser>=0.5.0 (from dlt[duckdb])
  Downloading requirements_parser-0.5.0-py3-none-any.whl (18 kB)
Collecting semver>=2.13.0 (from dlt[duckdb])
  Downloading semver-3.0.2-py3-none-any.whl.metadata (5.0 kB)
Requirement already satisfied: setuptools>=65.6.0 in c:\users\mbary\appdata\local\programs\python\python311\lib\site-packages (from dlt[duckdb]) (69.0.2)
Collecting simplejson>=3.17.5 (from dlt[duckdb])
  Downloading simplejson-3.19.2-cp311-cp311-win_amd64.whl.metadata (3.2 kB)
Collecting tenacity>=8.0.2 (from dlt[duckdb])
  Downloading tenacity-8.2.3-py3-none-any.whl.metadata (1.0 kB)
Collecting tomlkit>=0.11.3 (from dlt[duckdb])
  Downloading tomlkit-0.12.3-py3-none-any.whl.metadata (2.7 kB)
Requirement already satisfied: typing-extensions>=4.0.0 in c:\users\mbary\appdata\local\programs\python\python311\lib\site-packages (from dlt[duckdb]) (4.8.0)
Requirement already satisfied: tzdata>=2022.1 in c:\users\mbary\appdata\local\programs\python\python311\lib\site-packages (from dlt[duckdb]) (2023.4)
Collecting win-precise-time>=1.4.2 (from dlt[duckdb])
  Downloading win_precise_time-1.4.2-cp311-cp311-win_amd64.whl.metadata (3.0 kB)
Requirement already satisfied: wheel<1.0,>=0.23.0 in c:\users\mbary\appdata\local\programs\python\python311\lib\site-packages (from astunparse>=1.6.3->dlt[duckdb]) (0.41.3)
Requirement already satisfied: six<2.0,>=1.6.1 in c:\users\mbary\appdata\local\programs\python\python311\lib\site-packages (from astunparse>=1.6.3->dlt[duckdb]) (1.16.0)
Requirement already satisfied: colorama in c:\users\mbary\appdata\roaming\python\python311\site-packages (from click>=7.1->dlt[duckdb]) (0.4.6)
Collecting gitdb<5,>=4.0.1 (from gitpython>=3.1.29->dlt[duckdb])
  Downloading gitdb-4.0.11-py3-none-any.whl.metadata (1.2 kB)
Collecting ply (from jsonpath-ng>=1.5.3->dlt[duckdb])
  Downloading ply-3.11-py2.py3-none-any.whl (49 kB)
     ---------------------------------------- 0.0/49.6 kB ? eta -:--:--
     ---------------------------------------- 49.6/49.6 kB 2.5 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.6 in c:\users\mbary\appdata\local\programs\python\python311\lib\site-packages (from pendulum>=2.1.2->dlt[duckdb]) (2.8.2)
Requirement already satisfied: time-machine>=2.6.0 in c:\users\mbary\appdata\local\programs\python\python311\lib\site-packages (from pendulum>=2.1.2->dlt[duckdb]) (2.13.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\mbary\appdata\local\programs\python\python311\lib\site-packages (from requests>=2.26.0->dlt[duckdb]) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\mbary\appdata\local\programs\python\python311\lib\site-packages (from requests>=2.26.0->dlt[duckdb]) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\mbary\appdata\local\programs\python\python311\lib\site-packages (from requests>=2.26.0->dlt[duckdb]) (2.1.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\mbary\appdata\local\programs\python\python311\lib\site-packages (from requests>=2.26.0->dlt[duckdb]) (2023.11.17)
Collecting types-setuptools>=57.0.0 (from requirements-parser>=0.5.0->dlt[duckdb])
  Downloading types_setuptools-69.0.0.20240125-py3-none-any.whl.metadata (1.6 kB)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\mbary\appdata\local\programs\python\python311\lib\site-packages (from SQLAlchemy>=1.4.0->dlt[duckdb]) (3.0.3)
Collecting smmap<6,>=3.0.1 (from gitdb<5,>=4.0.1->gitpython>=3.1.29->dlt[duckdb])
  Downloading smmap-5.0.1-py3-none-any.whl.metadata (4.3 kB)
Downloading duckdb-0.9.2-cp311-cp311-win_amd64.whl (10.3 MB)
   ---------------------------------------- 0.0/10.3 MB ? eta -:--:--
   - -------------------------------------- 0.3/10.3 MB 8.6 MB/s eta 0:00:02
   --- ------------------------------------ 0.9/10.3 MB 11.0 MB/s eta 0:00:01
   ------ --------------------------------- 1.6/10.3 MB 12.4 MB/s eta 0:00:01
   --------- ------------------------------ 2.4/10.3 MB 14.0 MB/s eta 0:00:01
   ------------ --------------------------- 3.2/10.3 MB 14.8 MB/s eta 0:00:01
   ---------------- ----------------------- 4.2/10.3 MB 15.7 MB/s eta 0:00:01
   -------------------- ------------------- 5.2/10.3 MB 16.6 MB/s eta 0:00:01
   ------------------------ --------------- 6.3/10.3 MB 17.5 MB/s eta 0:00:01
   ----------------------------- ---------- 7.5/10.3 MB 18.5 MB/s eta 0:00:01
   --------------------------------- ------ 8.6/10.3 MB 19.1 MB/s eta 0:00:01
   -------------------------------------- - 10.0/10.3 MB 19.9 MB/s eta 0:00:01
   ---------------------------------------  10.3/10.3 MB 19.8 MB/s eta 0:00:01
   ---------------------------------------  10.3/10.3 MB 19.8 MB/s eta 0:00:01
   ---------------------------------------  10.3/10.3 MB 19.8 MB/s eta 0:00:01
   ---------------------------------------  10.3/10.3 MB 19.8 MB/s eta 0:00:01
   ---------------------------------------  10.3/10.3 MB 19.8 MB/s eta 0:00:01
   ---------------------------------------  10.3/10.3 MB 19.8 MB/s eta 0:00:01
   ---------------------------------------  10.3/10.3 MB 19.8 MB/s eta 0:00:01
   ---------------------------------------  10.3/10.3 MB 19.8 MB/s eta 0:00:01
   ---------------------------------------  10.3/10.3 MB 19.8 MB/s eta 0:00:01
   ---------------------------------------  10.3/10.3 MB 19.8 MB/s eta 0:00:01
   ---------------------------------------  10.3/10.3 MB 19.8 MB/s eta 0:00:01
   ---------------------------------------  10.3/10.3 MB 19.8 MB/s eta 0:00:01
   ---------------------------------------  10.3/10.3 MB 19.8 MB/s eta 0:00:01
   ---------------------------------------  10.3/10.3 MB 19.8 MB/s eta 0:00:01
   ---------------------------------------  10.3/10.3 MB 19.8 MB/s eta 0:00:01
   ---------------------------------------- 10.3/10.3 MB 8.3 MB/s eta 0:00:00
Downloading fsspec-2024.2.0-py3-none-any.whl (170 kB)
   ---------------------------------------- 0.0/170.9 kB ? eta -:--:--
   ---------------------------------------- 170.9/170.9 kB 5.2 MB/s eta 0:00:00
Downloading GitPython-3.1.41-py3-none-any.whl (196 kB)
   ---------------------------------------- 0.0/196.4 kB ? eta -:--:--
   --------------------------------------- 196.4/196.4 kB 11.6 MB/s eta 0:00:00
Downloading giturlparse-0.12.0-py2.py3-none-any.whl (15 kB)
Downloading hexbytes-1.0.0-py3-none-any.whl (5.9 kB)
Downloading humanize-4.9.0-py3-none-any.whl (126 kB)
   ---------------------------------------- 0.0/126.8 kB ? eta -:--:--
   -------------------------------------- - 122.9/126.8 kB ? eta -:--:--
   -------------------------------------- - 122.9/126.8 kB ? eta -:--:--
   -------------------------------------- - 122.9/126.8 kB ? eta -:--:--
   -------------------------------------- - 122.9/126.8 kB ? eta -:--:--
   -------------------------------------- - 122.9/126.8 kB ? eta -:--:--
   -------------------------------------- - 122.9/126.8 kB ? eta -:--:--
   -------------------------------------- - 122.9/126.8 kB ? eta -:--:--
   -------------------------------------- - 122.9/126.8 kB ? eta -:--:--
   -------------------------------------- - 122.9/126.8 kB ? eta -:--:--
   -------------------------------------- - 122.9/126.8 kB ? eta -:--:--
   -------------------------------------- - 122.9/126.8 kB ? eta -:--:--
   -------------------------------------- 126.8/126.8 kB 213.1 kB/s eta 0:00:00
Downloading jsonpath_ng-1.6.1-py3-none-any.whl (29 kB)
Downloading makefun-1.15.2-py2.py3-none-any.whl (22 kB)
Downloading orjson-3.9.13-cp311-none-win_amd64.whl (134 kB)
   ---------------------------------------- 0.0/134.2 kB ? eta -:--:--
   ---------------------------------------- 134.2/134.2 kB 7.7 MB/s eta 0:00:00
Downloading pathvalidate-3.2.0-py3-none-any.whl (23 kB)
Downloading PyYAML-6.0.1-cp311-cp311-win_amd64.whl (144 kB)
   ---------------------------------------- 0.0/144.7 kB ? eta -:--:--
   ---------------------------------------- 144.7/144.7 kB 4.2 MB/s eta 0:00:00
Downloading semver-3.0.2-py3-none-any.whl (17 kB)
Downloading simplejson-3.19.2-cp311-cp311-win_amd64.whl (75 kB)
   ---------------------------------------- 0.0/75.3 kB ? eta -:--:--
   ---------------------------------------- 75.3/75.3 kB 4.1 MB/s eta 0:00:00
Downloading tenacity-8.2.3-py3-none-any.whl (24 kB)
Downloading tomlkit-0.12.3-py3-none-any.whl (37 kB)
Downloading win_precise_time-1.4.2-cp311-cp311-win_amd64.whl (14 kB)
Downloading dlt-0.4.2-py3-none-any.whl (518 kB)
   ---------------------------------------- 0.0/518.1 kB ? eta -:--:--
   ---------------------------------------  512.0/518.1 kB ? eta -:--:--
   ---------------------------------------- 518.1/518.1 kB 6.5 MB/s eta 0:00:00
Downloading gitdb-4.0.11-py3-none-any.whl (62 kB)
   ---------------------------------------- 0.0/62.7 kB ? eta -:--:--
   ---------------------------------------- 62.7/62.7 kB 1.7 MB/s eta 0:00:00
Downloading types_setuptools-69.0.0.20240125-py3-none-any.whl (51 kB)
   ---------------------------------------- 0.0/51.3 kB ? eta -:--:--
   ---------------------------------------- 51.3/51.3 kB 2.6 MB/s eta 0:00:00
Downloading smmap-5.0.1-py3-none-any.whl (24 kB)
Installing collected packages: ply, makefun, win-precise-time, types-setuptools, tomlkit, tenacity, smmap, simplejson, semver, PyYAML, pathvalidate, orjson, jsonpath-ng, humanize, hexbytes, giturlparse, fsspec, duckdb, requirements-parser, gitdb, gitpython, dlt
Successfully installed PyYAML-6.0.1 dlt-0.4.2 duckdb-0.9.2 fsspec-2024.2.0 gitdb-4.0.11 gitpython-3.1.41 giturlparse-0.12.0 hexbytes-1.0.0 humanize-4.9.0 jsonpath-ng-1.6.1 makefun-1.15.2 orjson-3.9.13 pathvalidate-3.2.0 ply-3.11 requirements-parser-0.5.0 semver-3.0.2 simplejson-3.19.2 smmap-5.0.1 tenacity-8.2.3 tomlkit-0.12.3 types-setuptools-69.0.0.20240125 win-precise-time-1.4.2

[notice] A new release of pip is available: 23.3.2 -> 24.0
[notice] To update, run: C:\Users\mbary\AppData\Local\Programs\Python\Python311\python.exe -m pip install --upgrade pip

In [27]:
import dlt

def people_1():
    for i in range(1, 6):
        yield {"ID": i, "Name": f"Person_{i}", "Age": 25 + i, "City": "City_A"}


def people_2():
    for i in range(3, 9):
        yield {"ID": i, "Name": f"Person_{i}", "Age": 30 + i, "City": "City_B", "Occupation": f"Job_{i}"}


generators_pipeline = dlt.pipeline(destination='duckdb', dataset_name='generators')

ppl_1 = generators_pipeline.run(people_1(),
										table_name="people_1",
                                        primary_key="ID",
										write_disposition="replace")

In [22]:
import duckdb

conn = duckdb.connect(f"{generators_pipeline.pipeline_name}.duckdb")

# let's see the tables
conn.sql(f"SET search_path = '{generators_pipeline.dataset_name}'")

rides = conn.sql("SELECT SUM(age) FROM people_1").df()
display(rides)

   sum(age)
0     140.0

In [29]:
ppl_2 = generators_pipeline.run(people_2(),
										table_name="people_1",
                                        primary_key="ID",
										write_disposition="merge")

In [28]:
rides = conn.sql("SELECT * FROM people_1").df()
display(rides)

   id      name  age    city        _dlt_load_id         _dlt_id occupation
0   1  Person_1   26  City_A  1707234971.1677208  tGwpuljTNRNGTg       None
1   2  Person_2   27  City_A  1707234971.1677208  RdJKTUHXbBqnHg       None
2   3  Person_3   28  City_A  1707234971.1677208  M05xa8psRUiAqA       None
3   4  Person_4   29  City_A  1707234971.1677208  PL66GrhE7PMh4w       None
4   5  Person_5   30  City_A  1707234971.1677208  zRE9SjT1b60rmg       None

In [30]:
rides = conn.sql("SELECT * FROM people_1").df()
display(rides)

   id      name  age    city        _dlt_load_id         _dlt_id occupation
0   1  Person_1   26  City_A  1707234971.1677208  tGwpuljTNRNGTg       None
1   2  Person_2   27  City_A  1707234971.1677208  RdJKTUHXbBqnHg       None
2   5  Person_5   35  City_B   1707235039.430098  V8TFBTltYbnRew      Job_5
3   4  Person_4   34  City_B   1707235039.430098  gO0mv7K/L7Vfjg      Job_4
4   3  Person_3   33  City_B   1707235039.430098  kowuOtlwqp8Rsg      Job_3
5   6  Person_6   36  City_B   1707235039.430098  7PmK98HD7fxpjw      Job_6
6   7  Person_7   37  City_B   1707235039.430098  wXIuVtH8VbidIw      Job_7
7   8  Person_8   38  City_B   1707235039.430098  tWW4xPSHMm3TYQ      Job_8

In [31]:
rides = conn.sql("SELECT SUM(age) FROM people_1").df()
display(rides)

   sum(age)
0     266.0

# 3. Merge a generator

Re-use the generators from Exercise 2.

A table's primary key needs to be created from the start, so load your data to a new table with primary key ID.

Load your first generator first, and then load the second one with merge. Since they have overlapping IDs, some of the records from the first load should be replaced by the ones from the second load.

After loading, you should have a total of 8 records, and ID 3 should have age 33.

Question: **Calculate the sum of ages of all the people loaded as described above.**

# Solution: First make sure that the following modules are installed:

In [ ]:
#Install the dependencies
%%capture
!pip install dlt[duckdb]

In [ ]:
# to do: homework :)

Questions? difficulties? We are here to help.
- DTC data engineering course channel: https://datatalks-club.slack.com/archives/C01FABYF2RG
- dlt's DTC cohort channel: https://dlthub-community.slack.com/archives/C06GAEX2VNX